@model IEnumerable<Images>
@{
    ViewData["Title"] = "Shows";
}
<h1>@ViewData["Title"]</h1>

<div class="container text-center">
    <h1 class="display-4">Welcome to our show Gallery.</h1>
<div class="card-group">
  @foreach (var item in Model)
  {
    <div class="row">
    <div class="card">
    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemName)</h5>
      <p class="card-text">@Html.DisplayFor(modelItem => item.ItemPrice)</p>
      <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.DateTaken)</small></p>
    </div>
  </div>
     <div class="card">
    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemName)</h5>
      <p class="card-text">@Html.DisplayFor(modelItem => item.ItemPrice)</p>
      <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.DateTaken)</small></p>
    </div>
  </div>    
  <div class="card">
    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemName)</h5>
      <p class="card-text">@Html.DisplayFor(modelItem => item.ItemPrice)</p>
      <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.DateTaken)</small></p>
    </div>
  </div>
  </div>
  }
</div>
</div>
